# -*- mode: yaml -*-
elastic_stack:
  version: '6.x'
  elasticsearch:
    configuration_settings:
      'discovery.zen.minimum_master_nodes': 1
      'gateway.recover_after_nodes': 1
      'gateway.expected_nodes': 1
      'gateway.recover_after_time': '5m'
      network.host: _local_
      cluster.name: 'elasticsearch_cluster'
      discovery.zen.ping.unicast.hosts: ['192.168.33.10']
    plugins:
      - name: discovery-ec2
        config:
          cloud:
            aws:
              region: us-east-1
      - name: repository-s3
    index_templates:
      - name: logstash
        definition:
          template: logstash-*
          settings:
            index:
              refresh_interval: 5s
              number_of_shards: 5
              number_of_replicas: 1
          mappings:
            fluentd:
              dynamic_templates:
                - strings:
                    match_mapping_type: string
                    mapping:
                      type: string
                      fields:
                        raw:
                          type: string
                          index: not_analyzed
                          ignore_above: 256
  beats:
    metricbeat:
      config:
        metricbeat.config.modules:
          path: /etc/metricbeat/modules.d/*.yml
        tags:
          - vagrant
          - demo
      modules:
        system:
          - module: system
            metricsets:
              - cpu
              - filesystem
              - load
              - memory
              - network
              - process
              - process_summary
              - uptime
            enabled: 'true'
            period: 1s
            processes:
              - '.*'

mine_functions:
  network.ip_addrs: [eth0]
  network.get_hostname: []
