{% set version = salt.pillar.get('elasticsearch:version', '6.x') %}
{% set elasticsearch = salt.grains.filter_by({
    'default': {
        'version': version,
        'pkg_deps': [],
        'pkgs': [
            'elasticsearch'
        ],
        'service': 'elasticsearch',
        'configuration_settings': {
            'node.data': true,
            'gateway.recover_after_time': '5m',
        },
        'disable_swap': True,
        'fd_limit': 100000,
        'max_map_count': 262144,
        'log_folder': '/usr/share/elasticsearch/logs',
        'conf_folder': '/etc/elasticsearch/',
        'conf_file': '/etc/elasticsearch/elasticsearch.conf',
        'java_home': '/usr/lib/jvm/java-1.8.0-openjdk-amd64'
    },
    'Debian':{
        'pkg_deps': [
            'openjdk-8-jre-headless',
            'apt-transport-https'
        ],
        'env_file': '/etc/default/elasticsearch'
    },
    'RedHat': {
        'pkg_deps': [
            'java-1.8.0-openjdk-headless'
        ],
        'env_file': '/etc/sysconfig/elasticsearch',
        'java_home': '/usr/lib/jvm/jre-1.8.0-openjdk'
    },
}, grain='os_family', merge=salt.pillar.get('elastic_stack:elasticsearch'), base='default') %}
