{% set version = salt.pillar.get('elastic_stack:version', '7.6') %}
{% set maj_version = version.split('.')[0] %}

{% set elastic_stack = salt['grains.filter_by']({
    'default': {
        'version': version,
        'pkgs': [],
        'configuration_settings': {
            'node.data': true,
            'gateway.recover_after_time': '5m',
        },
        'gpg_key': 'https://artifacts.elastic.co/GPG-KEY-elasticsearch',
        'pkg_repo_url': 'https://artifacts.elastic.co/packages/{0}.x'.format(maj_version)
    },
    'Debian': {
        'pkg_repo_suffix': 'debian',
        'openjdk_repo': 'deb http://ftp.us.debian.org/debian/ stretch main contrib non-free'
    },
    'RedHat': {
        'pkg_repo_suffix': 'centos',
    },
}, grain='os_family', merge=salt['pillar.get']('elastic_stack:overrides'), base='default') %}
