{% set elastalert = salt.grains.filter_by({
    'default': {
        'settings': {
            'rules_folder': '/etc/elastalert/rules/',
            'es_host': 'localhost',
            'es_port': 9200,
            'writeback_index': 'elastalert_status',
            'run_every': {
                'minutes': 1
            },
            'use_ssl': False,
            'buffer_time': {
                'minutes': 15
            },
            'alert_time_limit': {
                'days': 2
            }
        },
        'create_index': True,
        'user': 'elastalert',
        'group': 'elastalert',
        'init_file': '/etc/systemd/system/elastalert.service',
        'init_source': 'salt://elastic-stack/elastalert/templates/elastalert.service.j2'
    },
    'Debian': {
        'pkgs': [
            'build-essential',
            'libssl-dev',
            'libffi-dev',
            'python3-dev',
            'python3-venv',
            'python-virtualenv'
        ]
    },
    'RedHat': {
        'pkgs': [
            'gcc',
            'make',
            'libffi-devel',
            'python3-devel',
            'openssl-devel',
            'python-virtualenv'
        ]
    }
}, grain='os_family', merge=salt.pillar.get('elastic_stack:elastalert'), base='default') %}
